<div id="pageBody">
  <div id="pageBodyMain">
    <article class="articleDetail">
      <header class="articleDetailHead">
        <div class="pageTitle">
          <h1>Cloudforce2012</h1>
        </div>
        <div>
          <img src="<%= asset_path "photo/MeetingPlace.jpg" %>" alt="" width="720" height="390"/>
        </div>
        <div class="articleListText">
          <h1>Cloudforce2012</h1>
          <p>
            Cloudforce2012の会場の様子です。
          </p>
        </div>
      </header>
      <section class="articleDetailBody">
        <section>
          <div class="heading-typeB">
            <h3>会場の様子 1</h3>
          </div>
          <div>
            <img src="<%= asset_path "photo/MeetingPlace1.jpg" %>" alt="" width="720" height="390" />
            <figcaption>会場の様子 1</figcaption>
          </div>
          <p>基調講演でマーク・ベニオフのお話が聞けました。</p>
        </section>
        <section>
          <div class="heading-typeB">
            <h3>会場の様子 2</h3>
          </div>
          <div>
            <img src="<%= asset_path "photo/MeetingPlace2.jpg" %>" alt="" width="720" height="390"/>
            <figcaption>会場の様子 2</figcaption>
          </div>
          <p>基調講演の会場はこんな感じでした。</p>
        </section>
        <section>
          <div class="heading-typeB">
            <h3>会場の様子 3</h3>
          </div>
          <div>
            <img src="<%= asset_path "photo/MeetingPlace3.jpg" %>" alt="" width="720" height="390"/>
            <figcaption>会場の様子 3</figcaption>
          </div>
          <p>基調講演以外でもいろいろなお話が聞けました。</p>
        </section>
        <section>
          <div class="heading-typeB">
            <h3>会場の様子 4</h3>
          </div>
          <div>
            <img src="<%= asset_path "photo/MeetingPlace4.jpg" %>" alt="" width="720" height="390"/>
            <figcaption>会場の様子 4</figcaption>
          </div>
          <p>SaasyとChattyがパフォーマンスしてました。</p>
        </section>
        <section>
          <div class="heading-typeB">
            <h3>会場の様子 5</h3>
          </div>
          <div>
            <img src="<%= asset_path "photo/MeetingPlace5.jpg" %>" alt="" width="720" height="390"/>
            <figcaption>会場の様子 5</figcaption>
          </div>
          <p>太鼓のパフォーマンスみれました。</p>
        </section>
      </section>
    </article>
  </div>
  <div id="pageBodySub">
    <%= render 'layouts/portfolioLink' %>
    <%= render 'layouts/newsList' %>
  </div>
</div>